/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'SPLIT_PROTEINS' {
        publishDir = [
            path: { "${params.outdir}/splitprotein" },
            mode: 'symlink',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PROKKA' {
        publishDir = [
            path: { "${params.outdir}/prokka" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BAKTA' {
        publishDir = [
            path: { "${params.outdir}/bakta/${meta.id}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TMHMM_TMHMM' {
        publishDir = [
            path: { "${params.outdir}/tmhmm/${meta.id}/raw" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PARSE_TMHMM' {
        publishDir = [
            path: { "${params.outdir}/tmhmm/${meta.id}/parsed" },
            mode: 'symlink',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CONCAT_TMHMM' {
        publishDir = [
            path: { "${params.outdir}/tmhmm/${meta.id}/merged" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PHOBIUS' {
        publishDir = [
            path: { "${params.outdir}/phobius/${meta.id}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PSORTB' {
        publishDir = [
            path: { "${params.outdir}/psortb/${meta.id}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SIGNALP_SIGNALP' {
        publishDir = [
            path: { "${params.outdir}/signalp/${meta.id}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SIGNALP_CONCAT' {
        publishDir = [
            path: { "${params.outdir}/signalp/${meta.id}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BOCTOPUS2_SELECT' {
        publishDir = [
            path: { "${params.outdir}/boctopus2/select/" },
            mode: 'symlink',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BOCTOPUS2_SPLIT' {
        publishDir = [
            path: { "${params.outdir}/boctopus2/split/${meta.id}" },
            mode: 'symlink',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BOCTOPUS2_BOCTOPUS2' {
        containerOptions = { 
            workflow.containerEngine == 'singularity' ? 
            "--env LSB_JOBID=${LSB_JOBID ?: ''}" : 
            "-e LSB_JOBID=${LSB_JOBID ?: ''}" 
        }
        publishDir = [
            path: { "${params.outdir}/boctopus2/boctopus2/${meta.id}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BOCTOPUS2_PARSE' {
        publishDir = [
            path: { "${params.outdir}/boctopus2/boctopus2/${meta.id}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
